@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100&family=Montserrat:wght@100;200&family=Nunito:wght@200&family=Pangolin&family=Playfair:ital,wght@0,300;1,300&family=Roboto+Slab&display=swap');

/* Global */
:root {
    --primary-color: rgb(40, 102, 156);
    --secondary-color: rgba(130, 177, 235, 0.7);
    --font-color: rgb(103, 101, 103);
    --border-radius: 5px;
}

html {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

body{
    width: 100%;
	height: 100%;
    background-color: #fff;
    min-height: 100vh; 
    /* font-family: 'Inter', sans-serif; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /* letter-spacing: 4px; */
}

.my_name {
    color: var(--primary-color);
    font-size: 3.1rem;
}

h1 {
    font-weight: 600;
    font-size: 2.6rem;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-weight: 100;
    text-align:justify;
    font-size: 1.55rem;
    color: var(--font-color);
    /* transform: translate(0%, 50%); */
}

a {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

i {
    font-size: 2.4rem;
    align-items: center;
    margin: 1.2rem 0;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

i:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

section {
    padding: 3rem 2rem;
}
/* end global */

/* body */
.body {
    display: grid;
    grid-template-columns: 38rem 56rem;
    height: 100vh;
    justify-content: center;
    /* grid-auto-flow: column; */
}

/* End body */

/* About me section */
.about_me {
    position: sticky;
    /* top: 0; */
    margin-right: 6rem;
}

.my_photo img {
    width: 350px;
    border-radius: 50%;
}

.my_photo div {
    margin: 2rem;
}

/* Portfolio section */
.portfolio {
    text-align: left;
    /* grid-auto-flow: column; */
    /* grid-auto-columns: 35%; */
    /* grid-template-rows: unset; */
    /* grid-template-columns: unset; */
    overflow-y: auto;
}

.portfolio div img {
    width: 44rem;
}


@media only screen and (max-width: 1200px) {
    .body{
        grid-template-columns:auto;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height:fit-content;
    }

    h1 {
        /* font-weight: 400; */
        font-size: 1.7rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.1rem;
    }

    .about_me {

        width: 70%;
    }

    .my_photo img {
        width: 16rem;
    }

    .portfolio {
        overflow-y:unset;
    }
}

